.section{
    padding: 80px 0;

    &-bg-light{
        background-color: $lightGrey;
    }
    &-bg-blue{
        background-color: $mainBlue;
    }
}

.d-block{
    display: block;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}

/*
.p-b-0{
    padding-bottom: 0;
}
.m-t-35{
    margin-top: 35px;
}
.m-b-15{
    margin-bottom: 15px;
}
*/
/******************************************************************
                            HELPER CLASSES
******************************************************************/
.m-10{
    margin: 10px!important; 
}
.m-30{
    margin: 30px!important;
}
.m-50{
    margin: 50px!important;
}
.m-70{
    margin: 70px!important;
}
.m-90{
   margin: 90px!important; 
}
.m-100{
    margin: 100px!important;
}
.m-120{
    margin: 120px!important;
}


.m-t-10{
    margin-top: 10px!important;
}
.m-t-20{
    margin-top: 20px!important;
}
.m-t-30{
    margin-top: 30px!important;
}
.m-t-50{
    margin-top: 50px!important;
}
.m-t-70{
    margin-top: 70px!important;
}
.m-t-90{
    margin-top: 90px!important; 
}
.m-t-100{
    margin-top: 100px!important;
}
.m-t-120{
    margin-top: 120px!important;
}

.m-t-180{
    margin-top: 180px!important;
}


.m-b-10{
    margin-bottom: 10px!important;
}
.m-b-20{
    margin-bottom: 20px!important;
}
.m-b-30{
    margin-bottom: 30px!important;
}
.m-b-50{
    margin-bottom: 50px!important;
}
.m-b-70{
    margin-bottom: 70px!important;
}
.m-b-90{
    margin-bottom: 90px!important; 
}
.m-b-100{
    margin-bottom: 100px!important;
}
.m-b-120{
    margin-bottom: 120px!important;
}

.p-0{
    padding: 0!important;
}
.p-100{
    padding: 100px!important;
}

.p-t-0{
    padding-top: 0!important;
}
.p-t-100{
    padding-top: 100px!important;
}
.p-b-0{
    padding-bottom: 0!important;
}
.p-b-100{
    padding-bottom: 100px!important;
}

